
// sizing 
$playercontrols-height: 90px;
$playeraside-width: 241px;

// Font family
$font-family-montserrat: 'Montserrat', sans-serif;

// Font size 
$font-size-regular: 14px;
$font-size-small: 11px;

// font weight 
$font-weight-regular: 400;
$font-weight-bold: 700;

// colors
$black: #000;
$white: #fff;

$gray: #282828;

$background-base : #121212;
$background-highlight : #181818;

$text-subdued: #a7a7a7;
$text-bright-accent: #1ed760;
$text-negative: #f15e6c;
$text-warning: #ffa42b;
$text-positive: #1ed760;
$text-announcement: #3d91f4;

$essential-subdued: #727272;
$essential-bright-accent: #1ed760;
$essential-negative: #e91429;
$essential-warning: #ffa42b;
$essential-positive: #1ed760;
$essential-announcement: #0d72ea;
$decorative-subdued: #292929;