@import '../../utils/scss/globals';

.playercontrols {

    display: flex;
    justify-content: space-between;
    
    &__container{
        background-color: $background-highlight;
        border: 1px solid $gray;
        grid-area: player;
        padding: 0 1rem;
        display: flex;
        align-items: center;
    }

    &__left{
        display: flex;
        flex-direction: row;
        align-items: center
    }

    &__img {
        width: 56px;
        height: 56px;
        background-color: red;
        img{
            width: 100%;
            height: 100%;
        }
    }

    &__song-info {
        padding: 0 14px;
        width: 106px;
        max-width: 215.797px;
    }

    &__icon {
        fill: $essential-subdued;
        
        transition: all ease .2s;
        background-color: unset;
        border: none;
        width: 2rem;
        height: 2rem;

        svg {
            width: 16px;
            height: 16px;
        }

        &:hover{
            fill: $white
            
        }
    }

};
