@import '../../utils/scss/globals';

.playerhero {
    height: 30vh;
    width: 100%;
    padding: 0 32px 24px 32px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    background: linear-gradient(transparent 0,rgba(0,0,0,.5) 100%);

    &__title{
        color: $white;
        font-size: 6rem;
        margin: 11px 0;
    }
}