@import '../../utils/scss/globals';

.genre{
    min-height: 100%;
    
    &__content {
        padding-top: 32px;
        padding: 32px 16px 0 16px;

        background: linear-gradient(rgba(0,0,0,.6) 0, --$background-base);
        background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.6)),to(transparent));
    }

    &__cardwrapper {
        max-width: 2200px;
    }
}

@media screen and (min-width: 1024px){

    .genre {
        &__content {
            padding: 32px 32px 0 32px;
        }
    }

}