@import '../../utils/scss/globals';

.playlist{

    width: 100%;

    &__content {
        width: 100%;
    }

    &__options {
        width: 100%;
        display: flex;
        align-items: center;
        padding:  24px 16px;
    }

    &__play {
        width: 56px;
        height: 56px;
        background-color: $essential-bright-accent;
        border-radius: 50%;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 32px;
        cursor: pointer;

        svg {
            width: 28px;
            height: 28px;
        }

        &:hover{
            transform: scale(1.05);
        }
    }

    &__like {
        width: 32px;
        height: 32px;
        background-color: unset;
        border: none;
        color: inherit;
        margin-right: 24px;
        svg{
            fill: currentColor;
        }
        &:hover{
            color: $white;
        }
    }

    &__menu {
        position: relative;
    }

    &__menubtn {
        width: 32px;
        height: 32px;
        background-color: unset;
        border: none;
        color: inherit;
        svg {
            fill: currentColor;
        }

        &:hover{
            color: $white;
        }
    }

}

.dropdown {
    position: relative;

    &__menu {
        background-color: $gray;
        position: absolute;
        left: 0;
        border-radius: 4px;
        margin-top: 8px;
        box-shadow: 0 16px 24px rgba(0,0,0,.3), 0 6px 8px rgba(0,0,0,.2);
    }

    &__ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        list-style: none;
        padding: 4px;
    }

    &__item{
        height: 40px;

        &--bottom-border {
            border-bottom: 1px solid  lighten($color: $gray, $amount: 10);
        }
    }

    &__link, &__button {
        color: $white;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        padding: 12px 8px 12px 12px;
        text-decoration: none;
        background-color: transparent;
        border: none;

        text-align: start;
        white-space: pre;
        text-overflow: ellipsis;

        svg {
            width: 16px;
            height: 16px;
            fill: currentColor;
        }

        &:hover{
            background-color: $essential-subdued;
        }

    }
}

.tracktable {

    padding: 0 16px 0 16px;

    &__head {
        width: 100%;
        padding: 0 16px 0 16px;

        display: grid;
        grid-template-columns: 16px 6fr 4fr  3fr minmax(120px,1fr);
        justify-items: start;
        grid-gap: 16px;

        border-bottom: 1px solid $gray;
        
        svg {
            width: 16px;
            height: 16px;
        }
    }

    &__item{
        text-overflow: hidden;
        white-space: pre;
        height: 36px;
        font-size: 0.850rem;
        display: flex;
        align-items: center;

        &--centered {
            justify-self: center;
        }
    }
}


@media screen and (min-width: 1024px) {
    .playlist {
        &__options{
            padding: 24px 32px;
        }
    }

    .tracktable {
        padding: 0 32px 0 32px;
    }
}