@import '../../utils/scss/globals';

.playlist{

    width: 100%;

    &__content {
        width: 100%;
    }

    &__options {
        width: 100%;
        display: flex;
        align-items: center;
        padding:  24px 16px;
    }

    &__play {
        width: 56px;
        height: 56px;
        background-color: $essential-bright-accent;
        border-radius: 50%;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 32px;
        cursor: pointer;

        svg {
            width: 28px;
            height: 28px;
        }

        &:hover{
            transform: scale(1.05);
        }
    }

    &__like {
        width: 32px;
        height: 32px;
        background-color: unset;
        border: none;
        color: inherit;
        margin-right: 24px;
        svg{
            fill: currentColor;
        }
        &:hover{
            color: $white;
        }
    }

    &__menu {
        position: relative;
        z-index: 10;
    }

    &__menubtn {
        width: 32px;
        height: 32px;
        background-color: unset;
        border: none;
        color: inherit;
        svg {
            fill: currentColor;
        }

        &:hover{
            color: $white;
        }
    }

}

.dropdown {
    position: relative;

    &__menu {
        background-color: $gray;
        position: absolute;
        left: 0;
        border-radius: 4px;
        margin-top: 8px;
        box-shadow: 0 16px 24px rgba(0,0,0,.3), 0 6px 8px rgba(0,0,0,.2);
    }

    &__ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        list-style: none;
        padding: 4px;
    }

    &__item{
        height: 40px;

        &--bottom-border {
            border-bottom: 1px solid  lighten($color: $gray, $amount: 10);
        }
    }

    &__link, &__button {
        color: $white;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        padding: 12px 8px 12px 12px;
        text-decoration: none;
        background-color: transparent;
        border: none;

        text-align: start;
        white-space: pre;
        text-overflow: ellipsis;

        svg {
            width: 16px;
            height: 16px;
            fill: currentColor;
        }

        &:hover{
            background-color: $essential-subdued;
        }

    }
}

.tracktable {

    padding: 0 16px 0 16px;

    container-type: inline-size;

    &__head {
        width: 100%;
        justify-items: start;
        grid-gap: 16px;
        border-bottom: 1px solid $gray;
        margin-bottom: 16px;
        
        svg {
            width: 16px;
            height: 16px;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: 16px 6fr 4fr  3fr minmax(120px,1fr);
        padding: 0 16px 0 16px;
        gap: 16px;
        height: 56px;
        align-content: center;
        border-radius: 5px;

        &:hover{
            background-color: $gray;

            .tracktable {
                &__item{
                    &--number {
                        display: none;
                    }
                }
                
                &__iconbtn {
                    display: flex;
                }
            }
        }

        &--head {
            height: 36px;
            &:hover{
                background-color: transparent;
            }
        }
        
    }

    &__item{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        
        font-size: 0.850rem;
        align-items: center;
        display: flex;

        user-select: none;
        
        &--clock {
            justify-self: end;
            padding-right: 32px;
        }

        &--last {
            display: grid;
            grid-template-columns: 1fr min-content 32px;
            justify-items: end;
        }
    }

    &__iconbtn{
        background: none;
        border: none;
        display: none;
        color: inherit;
        
        svg{
            fill: currentColor;
            width: 16px;
            height: 16px;
        }
        
        &--play {
            color: $white;
            svg{
                width: 12px;
                height: 12px;
            }
        }

        &--unliked {
            margin-right: 16px;
        }

        &:hover{
            color: $white;
        }
    }

    &__link {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.6;

        font-size: inherit;
        font-weight: inherit;
        color: inherit;
        text-decoration: none;
    
        &:hover {
            text-decoration: underline;
        }

        &--title{
            color: $white;
        }
    }

    &__cover {
        width: 40px;
        height: 40px;
        margin-right: 16px;
        img{
            height: 100%;
        }
    }

    &__titleandartist{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

}

@container (min-width: 700px) {
    
}


@media screen and (min-width: 1024px) {
    .playlist {
        &__options{
            padding: 24px 32px;
        }
    }

    .tracktable {
        padding: 0 32px 0 32px;
    }
}